{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Params.description }}
  <div class="post-description">{{ .Params.description }}</div>
  {{- end }}
</header>

{{- if .Content }}
<div class="post-content">
  {{ .Content }}
</div>
{{- end }}

{{- $pages := where .Site.RegularPages "Section" .Section }}
{{- $pages = $pages.ByDate.Reverse }}

{{- if gt (len $pages) 0 }}
<div class="posts-list">
  {{- range $pages }}
  {{- $class := "post-entry" }}
  
  <article class="{{ $class }}">
    {{- $isHidden := (site.Params.cover.hidden | default site.Params.cover.hiddenInList) }}
    {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
    <header class="entry-header">
      <h2>
        {{- .Title }}
        {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
      </h2>
    </header>
    {{- if (ne (.Param "hideSummary") true) }}
    <div class="entry-content">
      <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <footer class="entry-footer">
      {{- partial "post_meta.html" . -}}
    </footer>
    {{- end }}
    <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
  </article>
  {{- end }}
</div>

{{- $paginator := .Paginate $pages }}
{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{- if $paginator.HasPrev }}
    <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">
      «&nbsp;{{ i18n "prev_page" | default "Prev" }}
    </a>
    {{- end }}
    {{- range $paginator.Pagers }}
    {{- if eq . $paginator }}
    <a class="current" aria-current="page">{{ .PageNumber }}</a>
    {{- else }}
    <a href="{{ .URL | absURL }}">{{ .PageNumber }}</a>
    {{- end }}
    {{- end }}
    {{- if $paginator.HasNext }}
    <a class="next" href="{{ $paginator.Next.URL | absURL }}">
      {{ i18n "next_page" | default "Next" }}&nbsp;»
    </a>
    {{- end }}
  </nav>
</footer>
{{- end }}

{{- else }}
<div class="no-posts">
  <p>No posts found in this section yet.</p>
</div>
{{- end }}

{{- end }}{{/* end main */}}
